* {
    margin: 0;
    padding: 0;
}
body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / 300px 1fr auto;
}

header {
  background: rgb(56, 54, 54);;
  padding: 2rem;
  grid-column: 1 / 4;
  color: white;
}

.left-sidebar {
  background: lightgrey;
  display: grid;
  grid-column: 1 / 2;
  
}

nav {
	margin: 0 auto 2rem;
	max-width: 90vw;
    
}
.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: black;
	align-items: center;
    text-decoration: none;
}
.navigation li {
	flex: 1 1 auto;

	
}
.navigation a {
	font-weight: 700;
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}


.right-sidebar {
  background: white;
  display: grid;
  grid-column: 3 / 4;
  padding: 11rem;

 
}

footer {
  background: rgb(48, 45, 45);
  color: white;
  padding: 5rem;
  text-align: center;
  grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
  margin: 0;
  
}


